--- 
layout: default 
title: DOJANG ROLiiS TAEKWONDO
description: Sharing about Application Development, Integration, Cloud, Big Data and Digital Transformation 
comments: false 
header: DOJANG ROLiiS TAEKWONDO
imagePop: true
---


<div class="list-group">
	{% for post in paginator.posts %} 
	<div class="list-group-item">
	<a href="{{ post.url }}"  disabled="disabled" >
		<h4 class="list-group-item-heading">{{ post.title }}</h4>
		<h6 class="list-group-item-heading">{{ post.published | date: '%B %d,
			%Y' }} | (Last Update : {{ post.date | date: '%B %d, %Y' }})</h6></a>
		{% for tag in post.tags %}
		<a class="label label-default" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
		{% endfor %}
		{% if post.noimage %}
		<p>{{ post.excerpt }}</p>
		{% else %}		
		<img
			alt="{{ post.title }}"
			src="/assets/images/{{post.id}}/top.jpg" class="img-responsive">
			<p>{{ post.excerpt | strip_html }}</p>
		{% endif %}
		
		{% if post.read %}
		<a href="{{ post.url }}">Leer más...</a>
		{% endif %}
	</div>
	{% endfor %}
</div>


	  
